.detail img {
  margin-top: 70px;
  margin-left: 70px;
  width: 90%;
}

.col ul {
  margin-top: 110px;
  list-style-type: none;
  margin-right: 50px;
  color: royalblue;
}

.col ul h2 {
  margin-bottom: 60px;
}

.col ul li {
  margin-bottom: 10px;
}
