.btn-primary {
	background-color: white !important;
	color: royalblue !important;
	float: right;
	width: 8rem;
	font-weight: bold !important;
	margin-top: 1.5rem;
}

.label {
	text-align: start;
	color: white;
	margin-top: 2rem;
}

.nama {
	margin-top: 7rem;
}

.box {
	background-color: royalblue;
	border-radius: 0.8rem;
	color: white;
	font-weight: bold;
}

.login {
	margin-bottom: 3rem !important;
}
