.btn {
	background-color: white !important;
	color: black !important;
}

.register-box {
	margin: 4rem auto;
	padding: 1rem;
	width: 90%;
	max-width: 30rem;
	background-color: royalblue;
	color: white;
	display: block;
	border-radius: 20px;
}
