.board {
  margin-top: 15px;
  margin-bottom: 40px;
  justify-content: space-between;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  background-color: snow;
}
.board .leaderboard {
  margin-bottom: 1em;
  justify-content: center;
  color: rgb(59, 75, 221);
}

.row .col-sm h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.container .row {
  justify-content: space-between;
}
.row .col-sm img {
  display: flex;
  width: 45%;
  border-radius: 50%;
  margin-bottom: 1em;
  margin-right: -100px;
  margin-left: 55px;
}
.row .col-sm h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -75px;
}
