  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 750px;
    margin: 15vh auto;
    text-align: center;
    font-family: arial;
    align-self: center;
  }
  
  .title {
    color: rgb(156, 10, 137);
    font-size: 50px;
  }
  .text {
    color: rgb(206, 152, 3);
    font-size: 30px;
  }
  
  button {

    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  /* a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  } */
  
  button:hover, a:hover {
    opacity: 0.7;
  }